{
	"env": {
		"browser": true,
		"node": true
	},
	"extends": ["airbnb", "prettier"],
	"rules": {
		"no-underscore-dangle": 0,
		"no-nested-ternary": 0,

		"import/prefer-default-export": 0
	},
	"plugins": ["import"]
}
